In [7]:
import pandas as pd
import connectome_tools
from connectome_tools import load_flywire

In [2]:
connectome_path = "/Users/chase/Documents/science/drosophila/connectomes/flywire"

Example view return values of `load_flywire`

In [20]:
neurons, J, J_by_transmitter = load_flywire(connectome_path, by_nts=True, include_spatial=False)

In [21]:
neurons.head()

,root_id,group,nt_type,nt_type_score,da_avg,ser_avg,gaba_avg,glut_avg,ach_avg,oct_avg,...,class,sub_class,cell_type,hemibrain_type,hemilineage,side,nerve,J_idx,J_idx_post,J_idx_pre
0,720575940596125868,LO.LOP,ACH,0.57,0.03,0.00,0.05,0.28,0.57,0.07,...,NaN,NaN,T5c,NaN,NaN,right,NaN,0,0,0
1,720575940597856265,ME,ACH,0.85,0.01,0.00,0.03,0.04,0.85,0.07,...,NaN,NaN,Tm16,NaN,NaN,right,NaN,1,1,1
2,720575940597944841,ME.LO,ACH,0.82,0.02,0.00,0.01,0.05,0.82,0.09,...,NaN,NaN,CB3851,NaN,NaN,right,NaN,2,2,2
3,720575940598267657,ME,GABA,0.74,0.01,0.01,0.74,0.19,0.03,0.02,...,NaN,NaN,TmY15,NaN,NaN,right,NaN,3,3,3
4,720575940599333574,ME,ACH,0.61,0.02,0.00,0.13,0.13,0.61,0.11,...,NaN,NaN,Tm1,NaN,NaN,right,NaN,4,4,4

In [5]:
J

<139255x139255 sparse matrix of type '<class 'numpy.int16'>'
	with 3869878 stored elements in Compressed Sparse Row format>

In [6]:
J_by_transmitter

{'ACH': <139255x139255 sparse matrix of type '<class 'numpy.int16'>'
 	with 2258155 stored elements in Compressed Sparse Row format>,
 'DA': <139255x139255 sparse matrix of type '<class 'numpy.int16'>'
 	with 37705 stored elements in Compressed Sparse Row format>,
 'GABA': <139255x139255 sparse matrix of type '<class 'numpy.int16'>'
 	with 865318 stored elements in Compressed Sparse Row format>,
 'GLUT': <139255x139255 sparse matrix of type '<class 'numpy.int16'>'
 	with 654183 stored elements in Compressed Sparse Row format>,
 'OCT': <139255x139255 sparse matrix of type '<class 'numpy.int16'>'
 	with 17067 stored elements in Compressed Sparse Row format>,
 'SER': <139255x139255 sparse matrix of type '<class 'numpy.int16'>'
 	with 37450 stored elements in Compressed Sparse Row format>}

In [24]:
neuron_coords = pd.read_csv(f"{connectome_path}/coordinates.csv")
for i, dim in enumerate(["x", "y", "z"]):
    neuron_coords[dim] = neuron_coords["position"].apply(lambda x: float(x[1:-1].split()[i]))
neuron_coords

,root_id,position,supervoxel_id,x,y,z
0,720575940613726179,[352484 175164 229040],76704474512672967,352484.0,175164.0,229040.0
1,720575940623219453,[631424 216180 55880],81490235707935665,631424.0,216180.0,55880.0
2,720575940613998790,[713412 223496 57080],82897679310436225,713412.0,223496.0,57080.0
3,720575940606611401,[444928 283372 77240],78254373054459056,444928.0,283372.0,77240.0
4,720575940620628957,[516764 103356 67880],79517986792372064,516764.0,103356.0,67880.0
...,...,...,...,...,...,...
238904,720575940641583056,[386280 257312 188240],77268798721395109,386280.0,257312.0,188240.0
238905,720575940611597102,[689652 255824 228000],82476017205257551,689652.0,255824.0,228000.0
238906,720575940634748385,[338940 263152 149240],76424442376591026,338940.0,263152.0,149240.0
238907,720575940614745069,[381916 264544 172960],77198498629760649,381916.0,264544.0,172960.0
238908,720575940608092802,[206128 161904 164520],74170924642883535,206128.0,161904.0,164520.0

In [26]:
neurons_new = neurons.merge(neuron_coords[["root_id", "x", "y", "z"]], how="left", on="root_id")
neurons_new

,root_id,group,nt_type,nt_type_score,da_avg,ser_avg,gaba_avg,glut_avg,ach_avg,oct_avg,...,hemibrain_type,hemilineage,side,nerve,J_idx,J_idx_post,J_idx_pre,x,y,z
0,720575940596125868,LO.LOP,ACH,0.57,0.03,0.00,0.05,0.28,0.57,0.07,...,NaN,NaN,right,NaN,0,0,0,710944.0,262716.0,205680.0
1,720575940597856265,ME,ACH,0.85,0.01,0.00,0.03,0.04,0.85,0.07,...,NaN,NaN,right,NaN,1,1,1,808724.0,349448.0,203080.0
2,720575940597856265,ME,ACH,0.85,0.01,0.00,0.03,0.04,0.85,0.07,...,NaN,NaN,right,NaN,1,1,1,810880.0,351844.0,202240.0
3,720575940597944841,ME.LO,ACH,0.82,0.02,0.00,0.01,0.05,0.82,0.09,...,NaN,NaN,right,NaN,2,2,2,754392.0,331248.0,183360.0
4,720575940598267657,ME,GABA,0.74,0.01,0.01,0.74,0.19,0.03,0.02,...,NaN,NaN,right,NaN,3,3,3,721164.0,298276.0,135720.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238904,720575940661336193,ME.LO,ACH,0.62,0.02,0.00,0.18,0.16,0.62,0.03,...,NaN,NaN,left,NaN,139251,139251,139251,252608.0,166216.0,197880.0
238905,720575940661337217,SCL.MB_ML,ACH,1.00,0.00,0.00,0.00,0.00,1.00,0.00,...,KCab-p,MBp4,left,NaN,139252,139252,139252,407744.0,106944.0,190120.0
238906,720575940661338497,GNG,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,putative_primary,right,PhN,139253,139253,139253,595328.0,314912.0,33040.0
238907,720575940661338497,GNG,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,putative_primary,right,PhN,139253,139253,139253,578820.0,343776.0,57200.0
238908,720575940661339777,NO_CONS,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,right,NaN,139254,139254,139254,862404.0,221528.0,146160.0

In [27]:
syn_coords = pd.read_csv(f"{connectome_path}/synapse_coordinates.csv")
syn_coords.ffill(inplace=True)
syn_coords

           pre_root_id  post_root_id       x       y       z
0         7.205759e+17  7.205759e+17  705988  275676  221800
1         7.205759e+17  7.205759e+17  706908  275084  222160
2         7.205759e+17  7.205759e+17  707848  275456  222100
3         7.205759e+17  7.205759e+17  708050  275176  222200
4         7.205759e+17  7.205759e+17  711344  267664  223360
...                ...           ...     ...     ...     ...
34156315  7.205759e+17  7.205759e+17  436160  163856   81040
34156316  7.205759e+17  7.205759e+17  436370  165082   78360
34156317  7.205759e+17  7.205759e+17  438644  167636   77860
34156318  7.205759e+17  7.205759e+17  442126  167062   78700
34156319  7.205759e+17  7.205759e+17  444428  168448   80560

[34156320 rows x 5 columns]

In [31]:
presyn_cluster_means = syn_coords.groupby("pre_root_id")[["x", "y", "z"]].mean().rename(lambda c: f"{c}_presyn", axis=1).reset_index()
postsyn_cluster_means = syn_coords.groupby("post_root_id")[["x", "y", "z"]].mean().rename(lambda c: f"{c}_postsyn", axis=1).reset_index()

neurons_new = neurons_new.merge(presyn_cluster_means, how="left", left_on="root_id", right_on="pre_root_id")
neurons_new = neurons_new.merge(postsyn_cluster_means, how="left", left_on="root_id", right_on="post_root_id")

In [32]:
neurons_new

,root_id,group,nt_type,nt_type_score,da_avg,ser_avg,gaba_avg,glut_avg,ach_avg,oct_avg,...,y,z,pre_root_id,x_presyn,y_presyn,z_presyn,post_root_id,x_postsyn,y_postsyn,z_postsyn
0,720575940596125868,LO.LOP,ACH,0.57,0.03,0.00,0.05,0.28,0.57,0.07,...,262716.0,205680.0,7.205759e+17,709294.530612,272101.653061,222686.938776,7.205759e+17,704764.909091,264664.323232,207074.343434
1,720575940597856265,ME,ACH,0.85,0.01,0.00,0.03,0.04,0.85,0.07,...,349448.0,203080.0,7.205759e+17,772086.713217,332566.478803,182284.339152,7.205759e+17,794721.243243,343001.924324,196943.351351
2,720575940597856265,ME,ACH,0.85,0.01,0.00,0.03,0.04,0.85,0.07,...,351844.0,202240.0,7.205759e+17,772086.713217,332566.478803,182284.339152,7.205759e+17,794721.243243,343001.924324,196943.351351
3,720575940597944841,ME.LO,ACH,0.82,0.02,0.00,0.01,0.05,0.82,0.09,...,331248.0,183360.0,7.205759e+17,728765.254902,315764.235294,162995.686275,7.205759e+17,768345.622642,334740.452830,167122.641509
4,720575940598267657,ME,GABA,0.74,0.01,0.01,0.74,0.19,0.03,0.02,...,298276.0,135720.0,7.205759e+17,707685.363636,291869.890909,153360.000000,7.205759e+17,702150.015000,288316.140000,164957.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238904,720575940661336193,ME.LO,ACH,0.62,0.02,0.00,0.18,0.16,0.62,0.03,...,166216.0,197880.0,7.205759e+17,321520.808511,187984.468085,224998.085106,7.205759e+17,262816.598575,171916.232779,206693.444181
238905,720575940661337217,SCL.MB_ML,ACH,1.00,0.00,0.00,0.00,0.00,1.00,0.00,...,106944.0,190120.0,7.205759e+17,442254.543210,163719.617284,104021.358025,7.205759e+17,435520.126582,147925.113924,144886.835443
238906,720575940661338497,GNG,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,314912.0,33040.0,NaN,NaN,NaN,NaN,7.205759e+17,539015.644643,338405.019643,73517.160714
238907,720575940661338497,GNG,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,343776.0,57200.0,NaN,NaN,NaN,NaN,7.205759e+17,539015.644643,338405.019643,73517.160714
238908,720575940661339777,NO_CONS,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,221528.0,146160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN