In [1]:
import connectome_tools
from connectome_tools import load_flywire

In [2]:
connectome_path = "/Users/chase/Documents/science/drosophila/connectomes/flywire"

Example view return values of `load_flywire`

In [3]:
neurons, J, J_by_transmitter = load_flywire(connectome_path, by_nts=True, include_spatial=True)

In [4]:
neurons.head()

,root_id,group,nt_type,nt_type_score,da_avg,ser_avg,gaba_avg,glut_avg,ach_avg,oct_avg,...,hemibrain_type,hemilineage,side,nerve,x,y,z,J_idx,J_idx_post,J_idx_pre
0,720575940596125868,LO.LOP,ACH,0.57,0.03,0.00,0.05,0.28,0.57,0.07,...,NaN,NaN,right,NaN,710944.0,262716.0,205680.0,0,0,0
1,720575940597856265,ME,ACH,0.85,0.01,0.00,0.03,0.04,0.85,0.07,...,NaN,NaN,right,NaN,809802.0,350646.0,202660.0,1,1,1
2,720575940597944841,ME.LO,ACH,0.82,0.02,0.00,0.01,0.05,0.82,0.09,...,NaN,NaN,right,NaN,754392.0,331248.0,183360.0,2,2,2
3,720575940598267657,ME,GABA,0.74,0.01,0.01,0.74,0.19,0.03,0.02,...,NaN,NaN,right,NaN,721164.0,298276.0,135720.0,3,3,3
4,720575940599333574,ME,ACH,0.61,0.02,0.00,0.13,0.13,0.61,0.11,...,NaN,NaN,right,NaN,694048.0,316512.0,83840.0,4,4,4

In [7]:
J

<139255x139255 sparse matrix of type '<class 'numpy.int16'>'
	with 2700513 stored elements in Compressed Sparse Row format>

In [6]:
J_by_transmitter

{'ACH': <139255x139255 sparse matrix of type '<class 'numpy.int64'>'
 	with 2258155 stored elements in Compressed Sparse Row format>,
 'DA': <139255x139255 sparse matrix of type '<class 'numpy.int64'>'
 	with 37705 stored elements in Compressed Sparse Row format>,
 'GABA': <139255x139255 sparse matrix of type '<class 'numpy.int64'>'
 	with 865318 stored elements in Compressed Sparse Row format>,
 'GLUT': <139255x139255 sparse matrix of type '<class 'numpy.int64'>'
 	with 654183 stored elements in Compressed Sparse Row format>,
 'OCT': <139255x139255 sparse matrix of type '<class 'numpy.int64'>'
 	with 17067 stored elements in Compressed Sparse Row format>,
 'SER': <139255x139255 sparse matrix of type '<class 'numpy.int64'>'
 	with 37450 stored elements in Compressed Sparse Row format>}